@font-face {
    font-family: 'Coolvetica';
    src: url('Coolvetica\ Rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Coolvetica', sans-serif;

}

